<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Instagram Clone</title>

  <script src="https://cdn.tailwindcss.com"></script>
  <link href="https://cdn.jsdelivr.net/npm/remixicon@4.1.0/fonts/remixicon.css" rel="stylesheet" />

</head>

<body class="bg-zinc-900 text-white">

  <div class="w-full min-h-screen py-5">
    <div class="w-full px-4 flex items-center justify-between">
      <img class="w-28 bg-transparent" src="/images/upload/insta.png">
      <div class="flex gap-5 text-2xl">
        <i class="ri-heart-3-line"></i>
        <i class="ri-messenger-line"></i>
      </div>
    </div>

    <div class="px-3 flex gap-4 overflow-auto mt-6">

      <div class="flex-shrink-0">
        <div
          class="w-20 h-20 rounded-full bg-gradient-to-tr from-yellow-400 via-red-500 to-purple-600 flex items-center justify-center">
          <div class="w-[92%] h-[92%] rounded-full overflow-hidden">
            <img class="w-full h-full object-cover" src="https://images.unsplash.com/photo-1527980965255-d3b416303d12">
          </div>
        </div>
        <p class="text-xs text-center mt-1">Rehan</p>
      </div>

      <div class="flex-shrink-0">
        <div
          class="w-20 h-20 rounded-full bg-gradient-to-tr from-yellow-400 via-red-500 to-purple-600 flex items-center justify-center">
          <div class="w-[92%] h-[92%] rounded-full overflow-hidden">
            <img class="w-full h-full object-cover" src="https://images.unsplash.com/photo-1535713875002-d1d0cf377fde">
          </div>
        </div>
        <p class="text-xs text-center mt-1">Ayaan</p>
      </div>

      <div class="flex-shrink-0">
        <div
          class="w-20 h-20 rounded-full bg-gradient-to-tr from-yellow-400 via-red-500 to-purple-600 flex items-center justify-center">
          <div class="w-[92%] h-[92%] rounded-full overflow-hidden">
            <img class="w-full h-full object-cover" src="https://images.unsplash.com/photo-1544005313-94ddf0286df2">
          </div>
        </div>
        <p class="text-xs text-center mt-1">sarah</p>
      </div>
    </div>
    <% posts.reverse().forEach((post)=> { %>
      <div class="mb-20">
        <div class="mt-10 w-full">
          <div class="px-4 flex items-center gap-3">
            <div class="w-10 h-10 rounded-full overflow-hidden">
              <img class="w-full h-full object-cover" src="/images/<%= post.user.picture %>">
            </div>
            <div class="">
              <h4 class="text-sm font-semibold">
                <%= post.user?.username %>
              </h4>
              <span class="text-xs opacity-30 font-semibold">
                <p class="">
                  <%= timeAgo(post.date) %>
                </p>
              </span>
              <h6 class="text-xs opacity-50 ">Nagpur, Maharashtra</h6>
            </div>
          </div>
          <div class="w-screen relative left-1/2 right-1/2 -ml-[50vw] -mr-[50vw] overflow-hidden">
            <div class="relative w-full aspect-square">
              <img src="/images/<%= post.media %>" class="absolute inset-0 w-full h-full object-cover" />
            </div>
          </div>
          <div class="w-full px-4 flex justify-between items-center text-2xl mt-2">
            <div class="flex gap-4">

              <a href="/user/like/<%= user._id %>" class="likebtn" data-id="<%= user._id %>">
               <div class="flex gap-3 mt-2">
               <% if(post.like.indexOf(user._id)===-1){ %>
                <i class="heart ri-heart-3-line"></i>
                <% } else { %>
                  <i class="heart ri-heart-3-fill text-red-500"></i>
                  <% } %>
                    <i class="ri-chat-3-line"></i>
                    <i class="ri-share-circle-line"></i>
            </div>
</a>  
            </div>
            <i class="ri-bookmark-line"></i>
          </div>
          <p class="likecount ml-5" data-id="<%= post._id %>">
          <%= post.like.length %> likes
</p>
          <h2 class="text-sm mt-1 px-4">
            <span class="font-semibold pr-2"></span>
            <%= post.caption %>
          </h2>

        </div>
        <div class="fixed bottom-0 left-0 right-0 w-full bg-black border-t border-zinc-800 z-[999]">
          <div class="flex justify-around items-center py-3 text-2xl text-white">

            <a href="/feed" class="active:scale-90 transition">
              <i class="ri-home-5-line"></i>
            </a>

            <a href="/search" class="active:scale-90 transition">
              <i class="ri-search-line"></i>
            </a>

            <a href="/create" class="active:scale-90 transition">
              <i class="ri-add-box-line"></i>
            </a>

            <a href="/reels" class="active:scale-90 transition">
              <i class="ri-video-line"></i>
            </a>

            <a href="/profile" class="active:scale-90 transition">
              <div class="w-7 h-7 rounded-full overflow-hidden border border-zinc-600">
                <img src="/images/dp.jpg" class="w-full h-full object-cover">
              </div>
            </a>
          </div>
        </div>
      </div>
      <% }) %>
        <div class="fixed bottom-0 left-0 right-0 w-full bg-black border-t border-zinc-800 z-[999]">
          <div class="flex justify-around items-center py-3 text-2xl text-white">

            <a href="/feed" class="active:scale-90 transition">
              <i class="ri-home-5-line"></i>
            </a>

            <a href="/search" class="active:scale-90 transition">
              <i class="ri-search-line"></i>
            </a>

            <a href="/create" class="active:scale-90 transition">
              <i class="ri-add-box-line"></i>
            </a>
            <a href="/reels" class="active:scale-90 transition">
              <i class="ri-video-line"></i>
            </a>

            <a href="/profile" class="active:scale-90 transition">
              <div class="w-7 h-7 rounded-full overflow-hidden border border-zinc-600">
                <img src="/images/<%= user.picture %>" class="w-full h-full object-cover">
              </div>
            </a>
          </div>
        </div>
  </div>
</body>
<script>
document.querySelectorAll(".likebtn").forEach(btn => {
  btn.addEventListener("click", function(e) {
    e.preventDefault();
  });
});
</script>



</html>