<!DOCTYPE html>
<html lang="en">
<head>
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<title>Profile</title>

<script src="https://cdn.tailwindcss.com"></script>
<link href="https://cdn.jsdelivr.net/npm/remixicon@4.1.0/fonts/remixicon.css" rel="stylesheet"/>

</head>

<body class="bg-white text-black">

<div class="max-w-md mx-auto">

<!-- PROFILE HEADER -->
<div class="flex items-center gap-5 p-4">

<div class="w-24 h-24 rounded-full overflow-hidden">
<img src="/images/<%= user.picture %>" class="w-full h-full object-cover">
</div>

<div class="flex-1">

<div class="flex items-center gap-2">
<h2 class="font-semibold text-lg"><%= user.username %></h2> 
<i class="ri-settings-3-line text-xl"></i>
</div>

<p class="text-sm"><%= user.name %></p>

<div class="flex gap-4 text-sm mt-2">
<p><span class="font-semibold">2</span> posts</p>
<p><span class="font-semibold">71</span> followers</p>
<p><span class="font-semibold">156</span> following</p>
</div>

</div>
</div>
<div class="px-4 text-sm">
<p><%= user.bio %></p>
<p>@ keen_rehan06</p>
</div>

<div class="flex gap-2 px-4 mt-4">

<a href="/edit" class="flex-1 bg-zinc-200 py-2 rounded-lg text-sm font-medium text-center">Edit profile</a>
<a href="/post" class="flex-1 bg-zinc-200 py-2 rounded-lg text-sm font-medium text-center">Create Post</a>
</div>

<!-- HIGHLIGHTS -->
<div class="flex gap-5 px-4 mt-6">
<div class="flex flex-col items-center">
<div class="w-16 h-16 rounded-full border flex items-center justify-center text-3xl">
+
</div>
<p class="text-xs mt-1">New</p>
</div>
</div>

<div class="flex justify-around border-t border-b mt-6 py-3 text-xl">
<i class="ri-grid-line"></i>
<i class="ri-bookmark-line opacity-40"></i>
<i class="ri-user-line opacity-40"></i>
</div>

<div class="grid grid-cols-3 gap-[4px] w-full h-full">
<img src="/images/dp.jpg" class="w-full aspect-square object-cover">
<img src="/images/dp.jpg" class="w-full aspect-square object-cover">
</div>
<div class="fixed bottom-0 left-0 right-0 w-full bg-black border-t border-zinc-800 z-[999]">
  <div class="flex justify-around items-center py-3 text-2xl text-white">

    <a href="/feed" class="active:scale-90 transition">
      <i class="ri-home-5-line"></i>
    </a>

    <a href="/search" class="active:scale-90 transition">
      <i class="ri-search-line"></i>
    </a>

    <a href="/create" class="active:scale-90 transition">
      <i class="ri-add-box-line"></i>
    </a>

    <a href="/reels" class="active:scale-90 transition">
      <i class="ri-video-line"></i>
    </a>

    <a href="/profile" class="active:scale-90 transition">
      <div class="w-7 h-7 rounded-full overflow-hidden border border-zinc-600">
        <img src="/images/<%= user.picture %>" class="w-full h-full object-cover">
      </div>
    </a>
  </div>
</div>
</div>

</body>
</html>
